<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p><a href="#!/lists">&lt; Back to lists</a></p>
            <h3>List Details</h3>
            <div ng-if="!detailsController.mcDetails">
                <p>Loading list data from Mail Chimp server...</p>
                <p ng-if="detailsController.error">{{ detailsController.error }}</p>
            </div>
            <ul ng-if="detailsController.mcDetails">
                <li ng-repeat="(key, value) in detailsController.mcDetails track by $index"
                    ng-show="key != 'modules' && key != 'stats'">
                    <span><strong>{{key}}</strong>: {{value}}</span>
                </li>

                <mc-lists-members listid="detailsController.listId"></mc-lists-members>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
